[submodule "vendor/cmake-conan"]
	path = vendor/cmake-conan
	url = https://github.com/conan-io/cmake-conan
	branch = develop2
[submodule "vendor/enet"]
	path = vendor/enet
	url = https://github.com/badewen/gt-enet.git
	branch = master
[submodule "vendor/threadpool"]
	path = vendor/threadpool
	url = https://github.com/bshoshany/thread-pool.git
